/* All Elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins;
    font-size: 14px;
    color: #212529;
}
/* All Elements */

/* Fonts */
@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: PoppinsMedium;
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: PoppinsBold;
    src: url('../fonts/Poppins-Bold.ttf');
}

.poppins{
    font-family: Poppins;
}

.poppinsmedium{
    font-family: PoppinsMedium;
}

.poppinssemibold{
    font-family: PoppinsSemiBold;
}

.poppinsbold{
    font-family: PoppinsBold;
}

.text-justify{
    text-align: justify;
}
/* Fonts */



/* *** Header Start *** */
header{
    padding: 100px 0 180px;
    background-image: linear-gradient(to left, #7a60ff, #cd9ffa);
}

header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/pattern.png');
}

header::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-image: url('../images/applight-wave.svg');
    background-size: cover;
}
/* Nav Start */
#navigation .nav-link{
    color: white;
    transition: .5s ease-in-out;
    text-align: center;
    font-size: 13px;
    padding: 8px 14px;
}

#navigation .nav-link:hover, #navigation .nav-link.active{
    color: #5f0099;
}

#navbar.bg-white .nav-link:not(.active) {
    color: #333;
}

#navbar.bg-white #navigation{
    background-color: white;
}

#navbar.bg-white .navbar-toggler{
    color: #333;
}

.navbar-toggler, .navbar-toggler:focus{
    border: none;
    box-shadow: none;
    color: white;
}
/* Nav End */

/* Header Items Start */
#headeritems a{
    max-width: 150px;
}
/* Header Items End */

/* *** Header End *** */



/* *** About Container Start *** */
.container-padding{
    padding-top: 80px;
    padding-bottom: 80px;
}

.title-block{
    max-width: 765px;
    z-index: 3;
}

.title-block p{
    color: #818992;
    font-size: 17px;
}

.title-block h3::before{
    content: '';
    position: absolute;
    width: 50px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 2px solid #8e1efc;
}

.title-block h3::after{
    content: '';
    position: absolute;
    width: 150px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 2px dashed #8e1efc;

}

.icon-bg{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 50px;
    color: white;
    background-image: linear-gradient(to left, #7a60ff, #cd9ffa);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-box p{
    color: #818992;
    padding: 0 30px;
}

#about .btn{
    border: 2px solid #8e1efc;
    padding: 10px 40px;
    color: #8e1efc;
    font-size: 18px;
    transition: .5s ease-in-out;
}

#about .btn:hover{
    background-color: #8e1efc;
    color: white;
}
/* *** About Container End *** */



/* *** Watch Now Container Start *** */
#watchnow{
    background-image: url('../images/video-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 0;
    padding-right: 0;
}

#watchnow .video-bg{
    background-image: linear-gradient(to left, rgba(122, 96, 255, 0.90), rgba(205, 159, 250, 0.90));
}

.play-bg{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    color: #8e1efc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin: 0 auto;
    cursor: pointer;
}

/* Modal */
#videoModal .modal-content iframe{
    max-width: 500px;
    aspect-ratio: 4/3;
    border: 2px solid white;
}
/* Modal */

/* *** Watch Now Container End *** */



/* *** Features Container Start *** */
#features .row p{
    font-size: 13px;
}

#features .icon-box{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e1efc;
    border-radius: 50%;
    color: #8e1efc;
    font-size: 18px;
    margin: 0 auto;
}
/* *** Features Container End *** */



/* *** Our Team Container Start *** */
#team{
    border-top: 1px solid #e4e4e4;
    background-color: #fafafa;
}

#team img{
    max-width: 245px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#team h5{
    color: #8e1efc;
}
/* *** Our Team Container End *** */



/* *** Testimonials Container Start *** */
#testimonials{
    background-image: linear-gradient(to left, rgba(122, 96, 255, 0.90), rgba(205, 159, 250, 0.90));
    z-index: 0;
}

#testimonials::before{
    content: '';
    background-image: url('../images/pattern.png');
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1 !important;
}

/* Carousel Styles Start */
#carouselcontainer{
    z-index: 3 !important;
    position: relative;
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
}

#testimonialsCarousel{
    position: relative;
    z-index: 3 !important;
    max-width: 850px;
    margin: 0 auto;
}

#testimonialsCarousel .carousel-inner{
    width: 95%;
    max-width: 730px;
    margin: 0 auto;
    padding: 20px;
    background: #ebe5ff;
    border-radius: 5px;
}

#testimonialsCarousel .carousel-item img{
    width: 157px;
    border-radius: 50%;
    border: 12px solid white;
}

.carousel-control-prev , .carousel-control-next{
    width: 32px;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    
}
/* Carousel Styles End */

/* *** Testimonials Container End *** */



/* *** FAQ Container Start *** */
#faq{
    background-color: #fafafa;
    border-bottom: 1px solid #e4e4e4;
}

#faq p{
    color: #818992;
}
/* *** FAQ Container End *** */



/* *** Contact Us Container Start *** */
#contact form .form-control{
    border: 1px solid #e4e4e4;
    border-radius: 30px;
    font-size: 14px;
    padding: 8px 16px;
}

#contact form textarea{
    resize: none;
}

#contact form button{
    padding: 11px 32px;
    border-radius: 30px;
    background-image: linear-gradient(to left, #7a60ff, #cd9ffa);
    color: white;
    border: none;
}

#contact form .form-control:focus{
    box-shadow: inset 0 0 0 2px black;
}

/* Address Info Start */
#contact .address-bg{
    background-image: linear-gradient(to left, #7a60ff, #cd9ffa);
    border-radius: 8px;
    padding: 32px;
    color: white;
}

#contact .address-bg i{
    font-size: 20px;
}
/* Address Info End */

/* *** Contact Us Container End *** */



/* *** Download App Container Start *** */
#download{
    background-image: linear-gradient(to left, #7a60ff, #cd9ffa);
    z-index: 1;
}

#download::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/pattern.png');
    z-index: 0;
}

#download img{
    width: 150px;
}
/* *** Download App Container End *** */




@media(max-width: 576px){
    /* Title Block */
    .title-block p{
        font-size: 15px;
    }
    /* Title Block */
}

@media(max-width: 992px){
    /* Nav Start */
    #navigation{
        background-color: #d5c6dd;
        margin-top: 10px;
    }
    /* Nav End */

    /* FAQ Start*/
    #faq h5{
        font-size: 18px;
    }
    /* FAQ End*/
}